{{template "header.html"}}
<div class="form-top-text">
    <h3>Please Fill The Form Below Create a Topic</h3>
</div>

<div class="form-container">
  
  <div class="form">
    <form method="POST" action="/insert/topic">
       <label class="form-label"><b>Title</b></label>
       <input class="form-input" type="text" name="title" placeholder="Enter Topic Title">

       <label class="form-label"><b>Message</b></label>
       <textarea name="message" class="message" placeholder="">
         
       </textarea> 

       

       <button class="form-button">Submit</button>
    </form>
    
  </div>
  
</div>

{{template "footer.html"}}

</body>
</html>