<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Teady | Forum</title>
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="keywords" content="And, Finally, Keywords Go Here." />

<link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
<!--[if lt ie 7]><link rel="stylesheet" type="text/css" media="screen" href="ie-win.css" /><![endif]-->
</head>
<body id="babout">
<div id="header">
  <h1>Teady | Forum</h1>
</div>
<div id="" class="navigation">
  <ul>
    <li class="nav-bar" ><a href="/">Home</a></li>
    <li class="nav-bar"><a href="/topics">Topics</a></li>
    <li class="nav-bar"><a href="">Profile</a></li>
    <li class="nav-bar"><a href="">About Us</a></li>
    <li class="nav-bar"><a href="">Contact Us</a></li>
  </ul>
  <div class="right-nav">`
    <ul>
      <li><a href="/register/user">Register</a></li>
      <li id="login"><a href="/user/login">Login</a></li>
    </ul>
  </div>
</div>