{{template "header.html"}}
<div class="form-top-text">
    <h3>Please Fill The Form Below To Login or Click <a href="/register/user">here</a> to Register</h3>
</div>

<div class="form-container">
  
  <div class="form">
    <form method="POST" action="/userlogin">
       <label class="form-label"><b>Username</b></label>
       <input class="form-input" type="text" name="username" placeholder="Enter your username">

       <label class="form-label"><b>Password</b></label>
       <input class="form-input" type="password" name="password" placeholder="Enter your password">

       

       <button class="form-button">Submit</button>
    </form>
    
  </div>
  
</div>

{{template "footer.html"}}

</body>
</html>
