<div id="sidebar-wrapper">
    <div id="sidebar">
      <h3>Recent Posts</h3>
      <ul>
        <li>I am the most interesting person in the whole galaxy.</li>
        <li>Monkeys are cute &mdash; in cartoons.</li>
        <li>Tom &amp; Jerry rocks. Especially the kids' version.</li>
        <li>July 16, 2009.</li>
        <li>Great American Masterpiece.</li>
        <li>Modern Art: Art or Garbage? Discuss.</li>
      </ul>
      <h3>Top Posts</h3>
      <ol>
        <li>How to become <strong>one</strong> is studied by many.</li>
        <li>Yin/yang. Left/right. Up/down. Black/white. <strong>Two</strong> thousand six hundred and forty-<strong>two</strong>.</li>
        <li><strong>Three</strong> Little Pigs. <strong>Three</strong> Blind Mice. <strong>Three</strong> Wolves and a Swan Prince.</li>
        <li>A Quarter + A Dime + A Nickel = <strong>4</strong> Dimes.</li>
        <li>Now I know my 1, 2, 3; I can go to 4, <strong>5</strong>, 6.</li>
        <li><strong>Six</strong>ty-<strong>six</strong> on <strong>6</strong>/<strong>6</strong>/<strong>6</strong>00<strong>6</strong></li>
      </ol>
      <h3>Stats</h3>
      <p> This page was brought to you by the numbers 8 and 10, which were getting lonely. </p>
    </div>
  </div>
</div>